/* Set maximum width for images in the blog */
.blog-image {
  max-width: 5em;
}

/* Center items */
.is-center {
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

/* Styles for the flash message */
.flash-message {
  opacity: 1.0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 1);
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  padding: 1em 0;
  z-index: 99;
  -webkit-transition-property: opacity; /* Safari */
  -webkit-transition-duration: 3s; /* Safari */
  transition-property: opacity;
  transition-duration: 3s;
}

/* Override bootstrap btn padding and margin TODO: Fix this so it doesn't change the Submit size*/
.btn {
  padding: 2px 10px;
  margin-left: 1em;
}

/* Override trumboyg */
.trumbowyg-box,
.trumbowyg-editor {
  margin: 0;
  width: 100%;
  border-radius: 10px;


  /*border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;*/
}

.trumbowyg-button-pane {
  /*border-radius: 10px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
